<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title> 
    <link 
    rel="stylesheet" href="{{   url_for('static', filename='your_file_name.css') }}"/>
</head>
<body>
    <h1><strong>{{ title }}</strong></h1>
    <ul>
        {% for order in order_list  %}
            <li><b>{{ order.order_date }} {{ order.customer_name }}</b>  {{ order.quantity }} {{ order.game_title }}
                {% if order.done %}
                ✅ 
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>